servidor-mc/minecraft/world/
servidor-mc/minecraft/world_nether/
servidor-mc/minecraft/world_the_end/
servidor-mc/minecraft/logs/
servidor-mc/minecraft/crash-reports/
servidor-mc/minecraft/libraries/
servidor-mc/minecraft/versions/
servidor-mc/minecraft/cache/
servidor-mc/minecraft/.fabric/
servidor-mc/minecraft/fabric-server-mc.*.jar
